{% extends 'base.html' %}

{% block title %}マイページ画面{% endblock %}

{% block content %}
{% load static %}
<main>
    <div>
        <!-- ログインが成功している場合 -->
        {% if request.user.is_authenticated %}
        <h2>
            ようこそ！{{ request.user.username }}さん
        </h2>

        <h2>お気に入り記事一覧</h2>

        {% if favorite_articles %}
        <ul>
            {% for favorite in favorite_articles %}
            <li>
                <a href="{{ favorite.article.url }}" target="_blank">{{ favorite.article.title }}</a>
                ({{ favorite.article.site_name }}) - {{ favorite.article.posted_at|date:"Y-m-d H:i" }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>お気に入り登録された記事はありません。</p>
        {% endif %}

        <!-- ログインしていない場合 -->
        {% else %}
        <h2>
            ログイン or ユーザー登録をして下さい
        </h2>
        <div>
            <a href="{% url 'login' %}" class="btn btn-primary">ログイン</a>
            <a href="{% url 'signup' %}" class="btn btn-secondary">登録</a>
        </div>
        {% endif %}
    </div>
</main>
{% endblock content %}