{% extends 'base.html' %}

{% block title %}マイページ画面{% endblock %}

{% block content %}
{% load static %}
<main>
    <div>
        <!-- ログインが成功している場合 -->
        {% if request.user.is_authenticated %}
        <h2>
            ようこそ！{{ request.user.username }}さん
        </h2>
        <!-- ログインしていない場合 -->
        {% else %}
        <h2>
            ログイン or ユーザー登録をして下さい
        </h2>
        <div>
            <a href="{% url 'login' %}" class="btn btn-primary">ログイン</a>
            <a href="{% url 'signup' %}" class="btn btn-secondary">登録</a>
        </div>
        {% endif %}
    </div>
</main>
{% endblock content %}