{% from "_formhelpers.html" import render_field %}
{% extend 'base.html' %}

{% block title %}新規登録画面{% endblock %}

{% block content %}
<main>
    <h2>登録してください</h2>
    <form method="post">
        <div class="container">
            <label for="InputUsername" class="form-label">ユーザー名</label>
            <input type="username" class="form-control" id="InputUsername" placeholder="Mattermost名" required>
            <label for="InputPassword" class="form-label">パスワード</label>
            <input type="password" class="form-control" id="InputPassword1" required>
            <label for="InputPassword" class="form-label">パスワード確認label>
            <input type="password" class="form-control" id="InputPassword2" required>

            <div>
                <button type="login" class="btn btn-primary">登録する</button>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </form>
</main>
{% endblock content %}