{% extends 'base.html' %}

{% block title %}新規登録画面{% endblock %}


{% load static %}
{% block content %}
{% comment %} {% include "_formhelpers.html" %}
{% load static %} {% endcomment %}
{% comment %} <img src="{% static 'img/logo_transparent.png' %}" alt="TechHubロゴ" > {% endcomment %}

<div class="container d-flex justify-content-center align-items-center" style="width: 480px; height: 120px; overflow: hidden;">
  <h3 class="display-5" style="font-family: 'Montserrat', sans-serif;">新規登録</h3>
</div>

<div class="container-field">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="d-flex flex-column mb-3">
      {{ form.as_p }}
    </dev>
      <!-- <label for="InputUsername" class="form-label">ユーザー名</label>
      <input type="text" class="form-control" id="InputUsername" name="username" placeholder="Mattermost名" required>
      <label for="InputPassword" class="form-label">パスワード</label>
      <input type="password" class="form-control" id="InputPassword1" name="password1" required>
      <label for="InputPassword" class="form-label">パスワード確認</label>
      <input type="password" class="form-control" id="InputPassword2" name="password2" required> -->
      <div>
        <button type="submit" class="btn btn-primary">登録する</button>
      </div>

    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if form.errors %}
    <div class="alert alert-danger">
      <ul>
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <li>{{ field }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </form>
</div>

{% endblock content %}