{% extends 'base.html' %}

{% block title %}トップページ画面{% endblock %}

{% block content %}
{% load static %}

<main>
    <h1>Members</h1>
    <ul>
        {% for username in contributors %}
        <li>
            <a href="{{ article.url }}" target="_blank">{{ username }}</a>
        </li>
        {% empty %}
        <li>登録された投稿者はいません。</li>
        {% endfor %}
    </ul>

    <h1>最新の記事</h1>
    <form method='GET' action="{% url 'search' %}">
        <input type='text' name='query' id='id_query' placeholder='記事を検索...'>
        <button type='submit'>検索</button>
    </form>
    <ul>
        {% for article in articles %}
        <li>
            <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
            投稿者：{{article.contributor.user.username}}
            ({{ article.site_name }}) - {{ article.posted_at|date:"Y-m-d H:i" }}
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'toggle_favorite' article.id %}">
                {% csrf_token %}
                {% if article.id in favorite_articles %}
                <button type="submit">💚 お気に入り解除</button>
                {% else %}
                <button type="submit">🩶 お気に入り追加</button>
                {% endif %}
            </form>
            {% else %}
            <a href="{% url 'login' %}?next={% url 'toppage' %}">ログインしてお気に入り登録</a>
            {% endif %}

        </li>
        {% empty %}
        <li>記事がありません。</li>
        {% endfor %}
    </ul>

    <!-- ページネーション -->
    {% if is_paginated %}
    <div>
        {% if page_obj.has_previous %}
        <a href="?page=1">最初</a>
        <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
        {% endif %}

        <span>ページ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次へ</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">最後</a>
        {% endif %}
    </div>
    {% endif %}

</main>

{% endblock content %}